@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico);
a,
body,
div,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
li,
menu,
nav,
section,
span,
ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

footer,
header,
menu,
nav,
section {
	display: block
}

body {
	line-height: 1;
	background-color: #ede7e4
}

ul {
	list-style: none
}

body {
	-webkit-text-size-adjust: none
}

*,
:after,
:before {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

body {
	-ms-overflow-style: scrollbar
}

@media screen and (max-width:480px) {
	body,
	html {
		min-width: 320px
	}
}

body {
	background: #fff
}

body {
	background-color: #fff;
	color: #111
}

body {
	font-family: Poppins, sans-serif;
	font-size: 15pt;
	font-weight: 300;
	line-height: 2
}

@media screen and (max-width:1680px) {
	body {
		font-size: 13pt
	}
}

@media screen and (max-width:1280px) {
	body {
		font-size: 13pt
	}
}

@media screen and (max-width:980px) {
	body {
		font-size: 12pt
	}
}

@media screen and (max-width:736px) {
	body {
		font-size: 12pt
	}
}

@media screen and (max-width:480px) {
	body {
		font-size: 12pt
	}
}

a {
	-moz-transition: color .2s ease-in-out;
	-webkit-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.5;
	margin: .5em 0 .5em 0
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
	text-decoration: none
}

h1 {
	font-size: 2em;
	margin: 0 0 .25em 0
}

h2 {
	font-size: 1.75em
}

h3 {
	font-size: 1.35em
}

h4 {
	font-size: 1.1em
}

h5 {
	font-size: .9em
}

h6 {
	font-size: .7em
}

@media screen and (max-width:736px) {
	h1 {
		font-size: 1.5em
	}
	h2 {
		font-size: 1.25em
	}
	h3 {
		font-size: 1.1em
	}
}

a {
	color: #e5474b
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #00000
}

.button,
button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color .2s ease-in-out, color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out, color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out, color .2s ease-in-out;
	transition: background-color .2s ease-in-out, color .2s ease-in-out;
	border-radius: 0;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-size: .8em;
	font-weight: 700;
	height: 3.5em;
	line-height: 3.65em;
	padding: 0 2.25em;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	white-space: nowrap
}

.button:hover,
button:hover {
	text-decoration: none
}

.button:disabled,
button:disabled {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	opacity: .25
}

.button,
button {
	background-color: #5a5a5a;
	color: #fff!important
}

.button:hover,
button:hover {
	background-color: #676767
}

.button:active,
button:active {
	background-color: #4d4d4d
}

.button.alt,
button.alt {
	background-color: transparent;
	box-shadow: inset 0 0 0 2px #e5474b;
	color: #e5474b!important
}

.button.alt:hover,
button.alt:hover {
	background: #fceced
}

.button.alt:active,
button.alt:active {
	background-color: #f9dadb
}

::-webkit-input-placeholder {
	opacity: 1
}

:-moz-placeholder {
	opacity: 1
}

::-moz-placeholder {
	opacity: 1
}

:-ms-input-placeholder {
	opacity: 1
}

::-webkit-input-placeholder {
	color: #717171!important
}

:-moz-placeholder {
	color: #717171!important
}

::-moz-placeholder {
	color: #717171!important
}

:-ms-input-placeholder {
	color: #717171!important
}

ul {
	list-style: disc;
	margin: 0 0 2em 0;
	padding-left: 1em
}

ul li {
	padding-left: .5em
}

ul.alt {
	list-style: none;
	padding-left: 0
}

ul.alt li {
	border-top: solid 1px;
	padding: .5em 0
}

ul.alt li:first-child {
	border-top: 0;
	padding-top: 0
}

ul.actions {
	cursor: default;
	list-style: none;
	padding-left: 0
}

ul.actions li {
	display: inline-block;
	padding: 0 1em 0 0;
	vertical-align: middle
}

ul.actions li:last-child {
	padding-right: 0
}

ul.alt li {
	border-top-color: #000
}

section .inner {
	max-width: 65em;
	width: calc(100% - 6em);
	margin: 0 auto
}

@media screen and (max-width:480px) {
	section .inner {
		max-width: 90%;
		width: 90%
	}
}

body {
	position: relative;
	padding-top: 5em
}

#header {
	background: #1c1c1c;
	color: #d5d5d5;
	cursor: default;
	height: 5em;
	left: 0;
	line-height: 5em;
	position: fixed;
	text-align: right;
	top: 0;
	width: 100%;
	z-index: 10001
}

#header .inner {
	max-width: 65em;
	width: calc(100% - 6em);
	margin: 0 auto;
	position: relative
}

@media screen and (max-width:480px) {
	#header .inner {
		max-width: 90%;
		width: 90%
	}
}

#header .logo {
	font-family: Poppins, sans-serif;
	display: inline-block;
	height: inherit;
	left: 0;
	line-height: inherit;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	color: #fffFF;
	font-size: 1em;
	text-transform: none;
	font-weight: 400;
	padding: 0
}

#header .logo:hover {
	color: rgba(229, 71, 75, .75)
}

#header a {
	-moz-transition: color .2s ease-in-out;
	-webkit-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
	display: inline-block;
	padding: 0 2em;
	color: #fff;
	text-decoration: none;
	text-transform: none;
	font-weight: 700;
	font-size: .85em
}

#header a:hover {
	color: rgba(255, 255, 255, .75)
}

#header a:last-child {
	padding-right: 0
}

@media screen and (max-width:736px) {
	#header a {
		padding: 0 .5em
	}
}

@media screen and (max-width:480px) {
	#header {
		min-width: 320px
	}
}

#nav {
	display: inline-block
}

@media screen and (max-width:980px) {
	#nav {
		display: none
	}
}

.navPanelToggle {
	position: fixed;
	text-decoration: none;
	height: 4em;
	right: 3em;
	top: .75em;
	width: 4em;
	display: none;
	z-index: 10002
}

.navPanelToggle:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Poppins, sans-serif;
	font-style: normal;
	font-weight: 400;
	text-transform: none!important;
	color: #fff;
	display: block;
	font-size: 16px;
	height: 2.25em;
	left: .5em;
	line-height: 2.25em;
	position: absolute;
	text-align: center;
	top: .5em;
	width: 3.5em
}

@media screen and (max-width:980px) {
	.navPanelToggle {
		display: block
	}
}

@media screen and (max-width:736px) {
	.navPanelToggle {
		right: 1em
	}
}

.navPanelToggle :before {
	color: #fff;
	display: block;
	font-size: 16px;
	height: 2.25em;
	left: .5em;
	line-height: 2.25em;
	position: absolute;
	text-align: center;
	top: .5em;
	width: 3.5em
}

#banner {
	background-color: #eba7a7;
	color: #eba7a7;
	padding: 2em 0 1em 0;
	background-color: #eba7a7;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 15% left;
	text-align: left;
	position: relative;
	z-index: 9999
}

#banner a {
	color: #fff
}

#banner h1,
#banner h2,
#banner h3,
#banner h4,
#banner h5,
#banner h6 {
	color: #fff
}

#banner .button,
#banner button {
	background-color: #5a5a5a;
	color: #fff!important
}

#banner .button:hover,
#banner button:hover {
	background-color: #676767
}

#banner .button:active,
#banner button:active {
	background-color: #4d4d4d
}

#banner .button.alt,
#banner button.alt {
	background-color: transparent;
	box-shadow: inset 0 0 0 2px #fff;
	color: #fff!important
}

#banner .button.alt:hover,
#banner button.alt:hover {
	background: rgba(255, 255, 255, .25)
}

#banner .button.alt:active,
#banner button.alt:active {
	background-color: rgba(255, 255, 255, .2)
}

#banner:after {
	-moz-transition: opacity 4s ease;
	-webkit-transition: opacity 4s ease;
	-ms-transition: opacity 4s ease;
	transition: opacity 4s ease;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	left: 0;
	background-color: #eba7a7;
	opacity: .25
}

#banner .inner {
	max-width: 65em;
	width: calc(100% - 6em);
	margin: 0 auto;
	position: relative;
	z-index: 10000;
	line-height: 1.5
}

@media screen and (max-width:480px) {
	#banner .inner {
		max-width: 90%;
		width: 90%
	}
}

#banner h1 {
	font-size: 2em;
	margin: 0 0 .5em 0;
	padding: 0;
	letter-spacing: 3px;
	font-weight: 700
}

#banner h1 span {
	font-weight: 400
}

@media screen and (max-width:1680px) {
	#banner {
		padding: 10em 0 8em 0
	}
}

@media screen and (max-width:1280px) {
	#banner {
		padding: 8em 0 6em 0
	}
}

@media screen and (max-width:980px) {
	#banner {
		padding: 12em 0 10em 0
	}
	#banner br {
		display: none
	}
}

@media screen and (max-width:736px) {
	#banner {
		padding: 4em 0 2em 0
	}
	#banner h1 {
		font-size: 1.75em
	}
}

@media screen and (max-width:480px) {
	#banner {
		padding: 5em 0 3em 0
	}
	#banner ul {
		margin-top: 1em
	}
}

#main {
	padding: 4em 0 2em 0
}

#one {
	padding: 1em 0 1em 0;
	background-color: #ede7e4
}

@media screen and (max-width:980px) {
	#one {
		padding: 2em 0 2em 0
	}
}

@media screen and (max-width:736px) {
	#one {
		padding: 2em 0 .1em 0
	}
}

#footer {
	background-color: #fff;
	color: #fff;
	padding: 1em 0 1em 0;
	background: #000
}

#footer a {
	color: #fff
}

#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6 {
	color: #fff
}

#footer ::-webkit-input-placeholder {
	color: #f8d1d2!important
}

#footer :-moz-placeholder {
	color: #f8d1d2!important
}

#footer ::-moz-placeholder {
	color: #f8d1d2!important
}

#footer :-ms-input-placeholder {
	color: #f8d1d2!important
}

#footer .inner {
	max-width: 65em;
	width: calc(100% - 6em);
	margin: 0 auto
}

@media screen and (max-width:480px) {
	#footer .inner {
		max-width: 90%;
		width: 90%
	}
}

#footer .copyright {
	font-size: .9em;
	margin: 0 0 2em 0;
	padding: 0
}

#footer .copyright a {
	color: #f2a3a5
}

@media screen and (max-width:980px) {
	#footer {
		padding: 4em 0 2em 0
	}
}

@media screen and (max-width:736px) {
	#footer {
		padding: 2em 0 .1em 0
	}
}
